


.center {
    margin: auto;
	width: 50%;
	margin-top: 30px;
	margin-bottom: 30px;
}


a{
	margin-left: 100px;
}
a:hover{
	text-decoration: underline;
}
p{
	margin-top: 30px;
	margin-left: 3%;
}

#teamvorstellung
{
	text-align: center;
	margin-top: 30px;
}

table
{
	margin-top: 30px;
	margin-bottom: 30px;
}

#highscore{
	text-align:center;
	width:25%;
	
}
#highscore tr>th{
	text-align:center;
	background-color: #585858;
}
#highscore tr:nth-child(odd){
	background-color:#A4A4A4
	
}
#highscore tr:nth-child(even){
	background-color:white
}
#wort{
	text-align: center;
	
}

.canvas
{
	margin-left: 3%;
	width: 50%;
	height: 50%;
	background: rgb(212, 212, 212);
	border: 5px solid rgb(99, 99, 99);
}

.modal-footer {
	margin-top: 30px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 1rem;
	border-top: 3px solid #8f919270;
  }