/* CSS, welches für alle Webseiten gleich ist
 * wie z.B. Navigation, Überschrift etc.
*/

/* Navigation*/
.nav-color{
    background-color: red; 
}



/* Überschrift*/
.headline{
    color:red;
    text-align:center;
    border-bottom: 1px solid red;
    padding-bottom: 10px;
}


/*Footer*/
.footer-bottom {
    background-color: #343a40;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}