/*CSS spezifisch für die Spiel-Unterseite*/
#gameTable {
	height: 50%; 
}
/**
  * Fix user-agent
*/

* {
    box-sizing: border-box;
  }
  
  /**
    * Canvas
  */
  #gameArea{
    border:none;
  }

  .whiteboard {
    width: 100%;
    height: 50%;
  
    position: static;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    
    cursor:crosshair;
  }
  
  .colors {
    border:1px solid grey;
  }
  
  .color {
    display: inline-block;
    height: 48px;
    width: 20%;
  }
  
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }




  /* Chat-Feld*/
.gameHidden{
    display: none;
}

#skribble-chat{
  width: 100%;
  
}

#chat-window {
    height: 330px;
    overflow: auto;
    background-color: #F7F7FB;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: red;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}


/*Ende Chat-Feld*/

/* PopUp-Fenster */
#popup-box {
    text-align: center;
    
}

.input-style {
    margin-top: 20px;
    margin-right:auto; 
    margin-left:auto;
}

.btn-outline-secondary {
	color: white;
	background-color: red;
	background-image: none;
	border-color: red;
  }
  
  .btn-outline-secondary:hover {
	color: red;
	background-color: white;
	border-color: red;
  }
  
  .btn-outline-secondary:focus, .btn-outline-secondary.focus {
	box-shadow: 0 0 0 0.2rem transparent;
  }
  
  .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
	color: white;
	background-color: transparent;
  }
  
  .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-secondary.dropdown-toggle {
	color: red;
	background-color: white;
	border-color: red;
  }
  
  .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem red;
  }

  .overlayHidden {
	display: none;
}

#popup-text{
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
}

th{
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  text-align:center;
  color:white;
  background-color: #343a40;
}

.button-for-chat {
  width:100%;
}

#timer{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.2;
  font-style: italic;
}

#spielinfos {
  background-color: #F7F7FB;
  text-align:center;
}

#minTwoPlayer {
  color: red;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.2;
}

.currentPlayers {
  
  font-size: 2.0rem;
  font-weight: 300;
  line-height: 1.2;
}

.aktuelleSpieler{
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

