/*CSS-Datei aller styles die in den HTML-Dateien verwunden
 *
 *Created by Team Palico:
 *	Ufuk-Ibrahim Demircelik
 * 	Alexander Schaller
 *	Christian Schaller
*/

/*---------------------------------Überschrift Anfang*-------------------------------*/
.überschrift {
    margin: auto;
	width: 50%;
	margin-top: 30px;
	margin-bottom: 30px;
	
}
/*---------------------------------Überschrift Ende*---------------------------------*/

/*---------------------------------Navigation Anfang*---------------------------------*/
.nav{
	
	margin: auto;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	list-style-type: none;
    
	overflow: hidden;
	background: orangered;
}

a{
	width:25%;
	
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
	text-decoration: none;
}
a:hover{
	background-color: white;
	text-decoration: none;
	color:black;
}
/* hat noch keine Funktionalität*/
a:hover:not(.active) {
    background-color: grey;
}
.active {
	background-color: white;
	color:black;
}
/*---------------------------		Navigation Ende*			--------------------------*/




/*----------------------        Seite: Index/Home Anfang          ------------------------------*/
#teamvorstellung
{
	text-align: center;
	margin-top: 30px;
}
/*----------------------        Seite: Index/Home Ende          ------------------------------*/







/*----------------------        Seite: Highscore Anfang          ------------------------------*/
table
{
	margin-top: 30px;
	margin-bottom: 30px;
}

#highscore{
	text-align:center;
	width:25%;
	
}
#highscore tr>th{
	text-align:center;
	background-color: #585858;
}
#highscore tr:nth-child(odd){
	background-color: orangered
	
}
#highscore tr:nth-child(even){
	background-color:white
}
/*----------------------        Seite: Highscore Ende          ------------------------------*/






/*----------------------        Seite: Wörter einrechen Anfang          ---------------------*/
#wort{
	text-align: center;
	
}
/*----------------------        Seite: Wörter einrechen Ende          ----------------------*/






/*----------------------        Seite: Spiel Anfang          		  ----------------------*/

.farbButton{
	width: 30px;
	height: 30px;
}
#buttonBlack{
	background-color: black;
}
#buttonWhite{
	background-color: white;
}
#buttonBlue{
	background-color: blue;
}
#buttonRed{
	background-color: red;
}
#buttonGreen{
	background-color: green;
}
#buttonBrown{
	background-color: brown;
}
#buttonYellow{
	background-color: yellow;
}
#buttonOrange{
	background-color: Orange;
}
/*----------------------        Seite: Spiel Ende          		  ----------------------*/





/*----------------------     Allgemeine Formatierungen Anfang     ----------------------*/
p{
	margin-top: 30px;
	margin-left: 3%;
}
/*----------------------     Allgemeine Formatierungen Ende     ----------------------*/





/*----------------------    		 Footer Anfang    		 ----------------------*/
.modal-footer {
	margin-top: 30px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 1rem;
	border-top: 3px solid #8f919270;
  }
/*----------------------    		 Footer Ende    		 ----------------------*/
